body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://images.pexels.com/photos/796605/pexels-photo-796605.jpeg?cs=srgb&dl=abstract-art-birthday-796605.jpg&fm=jpg);
  background-repeat: cover;
  background-size: 100%;
  background-color: black;
  
}
